@model ActionCommandGame.Model.PositiveGameEvent

<tr>
    <td>@Model.Id</td>
    <td>@Model.Name</td>
    <td>@Model.Description</td>
    <td>@Model.Money</td>
    <td>@Model.Experience</td>
    <td>@Model.Probability</td>
    <td><a class="btn btn-primary" asp-area="Administrator" asp-controller="Event" asp-action="UpdatePositiveGameEvent" asp-route-id="@Model.Id">Update</a></td>
    <td><a class="btn btn-danger" asp-area="Administrator" asp-controller="Event" asp-action="DeletePositiveGameEvent" asp-route-id="@Model.Id">Remove</a></td>
</tr>